div.field.bankname .loading {
    background-image: url("../images/loading.gif") !important;
    background-repeat: no-repeat !important;
    background-position: 99% 50% !important;
    background-size: 16px 16px !important;
}

div.field.bankname select.loading {
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}