.dashboard-widget .panel-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.dashboard-widget .panel-body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.dashboard-widget .panel-body::-webkit-scrollbar-thumb {
    background-color: #555;
}
.dashboard-widget .panel-body {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
