.cms table.ss-gridfield-table tbody td a.login-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: 9999em;
    overflow: hidden;
    vertical-align: middle;
    background: url(/member/images/login-icon.png) no-repeat 2px 0px;
}